.main-page-button { 
    position: absolute;
    top:60%;
    left:65%; 
    width: 35px;
    height: 35px;
    border:1px solid rgb(99, 99, 99);
    border-radius: 17px;
    background-image: radial-gradient(white,grey);
}
.main-page-button:hover {
    border:1px solid rgb(5, 5, 5);
    background-image: radial-gradient(white,rgb(22, 22, 22));
}

.login-page-button {
    border:none;
    background-color: rgb(255, 255, 255, 0);
}

.home-page-showForm-btn {
    width:150px;   
    border:1px solid grey; 
    border-radius: 5px; 
    margin-left:80px;  
}
.home-page-addTrip-btn {
    width:40px;    
    border:1px solid grey;
    border-radius: 5px;
}
.home-page-deleteTrip-btn {
    border:1px solid grey;
    width:40px;    
    border-radius: 5px;
}
.trip-page-showForm-btn {
    width:150px;   
    border:1px solid grey; 
    border-radius: 5px;    
   margin-left: 8vw;

}

.trip-page-addNote-btn {
    width:40px;    
    border:1px solid grey;
    border-radius: 5px;
    margin:0px 10px;
}

.trip-page-deleteNote-btn {
    margin:0px 20px;
    width:70px;
    border-radius: 5px; 
}

@media all and (max-width:1230px) {
    .main-page-button {           
        width: 32px;
        height: 32px;      
    }
}

@media all and (max-width:930px) {
    .main-page-button {           
        width: 30px;
        height: 30px;      
    }
}
@media all and (max-width:800px) {
    .trip-page-showForm-btn {
        margin-top:20px;  
    }
     .trip-page-deleteNote-btn {
        margin:0px 10px;
        width:60px;      
    }
}


@media all and (max-width:750px) {
    .home-page-showForm-btn {
        margin-left:0px;  
    }
} 


