.header-wrapper {
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    right:0;
    background-color: #A9A9A9;
    padding:0px 10px;
}

.header {     
    display:flex;
    justify-content: space-between;
    height:12vh;
    padding: 5px;
    border: 1px solid black;       
}

.header-logo img, .header-user-photo img{
    height: 100%;
}

.container-header {
    max-width: 1000px;
    margin: 0 auto;   
}
.header-user-info {
    display:flex;
    justify-content: space-between;
}

.header-user-name {
    font-size: 25px;
    font-weight: bold;
}
.header-page-title {
    font-size: 33px;
    font-weight: bold;
}

@media all and (max-width:900px) {
    .header-page-title {
        font-size: 30px;       
    }
    .header-user-name {
        font-size: 20px;       
    }
}

@media all and (max-width:600px) {
    .header-page-title {
        font-size: 28px;       
    }
    .header-user-photo {
        display:none;
    }
    .header-user-name {
        font-size: 25px;       
    }
}